rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read access to the /app folder
    match /app/{allPaths=**} {
      allow read: if true;  // Public access for reads
    }

    // Allow read access to the /images folder
    match /images/{allPaths=**} {
      allow read: if true;  // Public access for reads
    }

    // Allow write access to /images/profile
    match /images/profile/{allPaths=**} {
      allow write: if request.auth != null;  // Authenticated users only
    }

    // Allow write access to /images/products/[the user's ID]
    match /images/products/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;  // User can write only to their own folder
    }
  }
}
